doctype
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-compatible",content="IE=edge")
    title test
    meta(name="description", content="test is the test")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/public/css/index.css")
  
  body
    
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta consequatur saepe beatae, vitae consectetur deserunt? Earum nam nesciunt, temporibus velit labore iste sunt culpa ut nostrum. Repudiandae at optio rerum.
    
    script(src="/public/js/index.js")  
      
    
    
