
/* reset and basic style */
* {box-sizing:border-box}
@import "suitcss/base";
@import "kennethormandy/normalize-opentype.css";


@import "src/css/block/MainHeader.css";

main {
  max-width: 40em;
  width: 100%;
  margin: 0 auto;
}
