{{> header}}


<ul>
        {{#each collections.blogs}}
            <li>
                <h3>
                <a href="{{ this.path }}">
                  {{{ this.title }}}

                </a>
                </h3>
                <time class="zeta u-TextCenter">{{{this.date}}}</time>
                <article>{{{this.excerpt}}}</article>
            </li>
        {{/each}}
    </ul>

{{> footer}}
